<div>
  <div class="w-screen">
    <img src="https://picsum.photos/1900/400" />
  </div>
  <div class="container mx-auto">
    <div class="grid grid-cols-3">
      <div>01</div>
      <div>01</div>
      <div>01</div>
    </div>
  </div>
</div>
