<div class="container mt-20 min-w-full">

<!-- Banner with Search Box -->
  <div class="w-full">
    <img src="https://picsum.photos/1200/400" alt="Banner" class="w-full h-64 object-cover">
  </div>

  <!-- Articles Container -->
  <div class="container">
    <div class="grid grid-cols-3">
      <div>01<div>
      <div>02<div>
      <div>03<div>
    </div>
  </div>
</div>
